{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#000000">

        <link rel="manifest" href="../static/daily/bundles/manifest.json">
        <link rel="shortcut icon" href="../static/daily/bundles/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/daily/bundles/css/main.css">
        <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        
        <title>Wakim</title>

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?9d92fdafcc3f4421c7f0409ecf6c88b6";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="root"></div>
        {% render_bundle 'main' %}
    </body>
</html>