.footer {
    text-align: center;
    padding: 5%;
}

.link-container {
    margin: 0 auto;
    padding: 2%;
    max-width: 335;
}

.link {
    text-decoration: none;
    color: #f36c3d;
}

.link:hover {
    color:#000000;
}

.copy-right {
    margin: 0 auto;
    padding: 0;
    max-width: 335;
    color: #f36c3d;
}