{% load staticfiles %}

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}HwaKim's Blog{% endblock %}</title>
	<meta name="author" content="{% block author %}HwaKim{% endblock %}" />
	<link rel="stylesheet" href="{% static "css/base.css" %}" />
	<link rel="stylesheet" href="{% static "css/skeleton.css" %}" />
  	<link rel="stylesheet" href="{% static "css/layout.css" %}" />
  	<link rel="shortcut icon" href="{% static "image/favicon.ico" %}" type="image/x-icon">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		if(typeof jQuery == 'undefined')
			document.write(unescape("%3Cscript src='{% static "js/jquery.min.js"%}' type='text/javascript'%3E%3C/script%3E"));
   </script>
   {% block optional_js %}{% endblock %}
</head>
<body>
	<div class='container'>
		<header class="sixteen columns rooftop">
			<img class="logo1" src="{% static "image/logo.png" %}" />
			<h1><a href="{% url index %}">HwaKim's Blog</a></h1>
			<img class="logo2" src="{% static "image/logo.png" %}" />
		</header>
		<div class="four columns sidebar">
			<div class="pagediv">
				<h4>PAGE</h4>
				<ul class="pagebutton">
					<li><a href="{% url index %}">Home</a></li>
					<li><a href="{% url menu %}">Menu</a></li>
					<li><a href="{% url about %}">About Me</a></li>
				</ul>
			</div>
			<div class="categorydiv">
				<h4>CATEGORY</h4>
				<ul class="menu">
					{% for category in all_categories %}
						{% if category.post_set.count > 0 %}
							{% with catabs=category.get_absolute_url %}
								<li>
									<img class="triangle" src="{% static "image/list-icon-post.gif" %}" />&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="{{catabs}}"
										{% if catabs == request.get_full_path %}
											class="selected"
										{% endif %}
									>
										{{category.name}}
									</a>
									<sup>{{category.post_set.count}}</sup>
								</li>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="linkdiv">
				<h4>LINK</h4>
				<ul class="linklist">
					<li>Github</li>
					<li>Email Me</li>
				</ul>
			</div>
			<div class="tagdiv">
				<h4>TAGS</h4>
				<ul class="taglist">
		          	{% for tag, count in all_tag_dicts.items %}
		          		{% url showtag tag as tag_url %}
		            		<li>
		            			<a href="{{tag_url}}" 
		            				{% if tag_url == request.get_full_path %} 
		            					class="selected" 
		            				{% endif %}
		            			>#{{tag}}</a>
		            			<sup>{{count}}</sup>
		            		</li>
		          	{% endfor %}
				</ul>
			</div>
		</div>
		<div class="eleven columns content">
			{%block content%}{%endblock%}
		</div>
		<div class="sixteen columns foot">Created by HwaKim Sun | Built with <a href="https://www.djangoproject.com/">Django</a> | Hosted on <a href="www.sae.sina.com.cn/">Sinnaapp</a></div>
	</div>
</body>
</html>